*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
}
#nav{
    height: 50px;
    width: 100%;
    margin-top: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    justify-content: space-around;
    position: relative;
}
#nav h5{
    font-size: 15px;
    font-weight: 500;
    border-right: 2px solid black;
    height: 100%;
    padding: 14px 50px;
}
#nav h4{
    font-size: 25px;
    padding-right: 10px;
    margin-bottom: 15px;
}
sub{
    font-size: 10px;
    position: absolute;
    left: 70px;
    bottom: 5px;
}
#nav i{
    font-size: 20px;
    padding-right: 10px;
    color: black;
}
#center{
    height: calc(100% - 80px);
    width: 100%;
    position: relative;
    
    
}
#center video{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    padding: 30px 50px;
    position: relative;
}
#content{
    
    height: 80px;
    width: 85%;
    margin-left: 80px;
    padding: 10px 30px;
    position: absolute;
    bottom: 23%;
    color: white;
    border-bottom: 2px solid white;
    
}
#elem{
    display: flex;
    justify-content: space-between;
   position: absolute;
    bottom: 8px; 
    font-size: 20px;
    font-weight: 700;
    mix-blend-mode: difference;
}
 #circle{
    position: absolute;
    left: 435%;
    top: 40%;
    font-size: 15px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius: 50%;
 }
#elem2{
    display: flex;
    justify-content: space-around;
      
}
#elem2 i{
    margin-top: 80px;
    position: absolute;
    right: 5%;
    height: 30px;
    width: 30px;  
}
#elem2 h5{
    position: absolute;
    margin-top: 80px;
    left: 5%;

}
#scroller{
    height: 25%;
    width: 100%;
    padding: 10px;
   
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}
#scroller::-webkit-scrollbar{
    display: none;
}
.elem{
    height: 80px;
    width: 80px;
    display: inline-block;
    margin-right: 12px;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    

}
.elem h6{
    font-size: 12px;
    margin-left: 25px;
}
@keyframes anime {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100% - 20px));
    }
}
#container{
    height: 100%;
    width: 100%;
    display: inline-block;
    animation-name: anime;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#page2{
    height: 100%;
    width: 100%;
    
}
#alphabet{
    height: 50px;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:12px 28px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#alphabet h6{
    height: 30px;
    width: 30px;
    font-size: 10px;
    text-align: center;
    padding: 10px;
    font-style: italic; 
}
#alphabet h5{
    height: 30px;
    width: 30px;
    padding: 3px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;

}
#alphabet h6:hover{
    border-radius: 50%;
    border: 2px solid black;
    padding: 6px 8px;
}
#page2-content{
    height: calc(100% - 50px);
    width: 100%;
    /*background-color: brown;*/
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
#page2-left{
    height: 95%;
    width: 48%;
    background-color: aqua;
}
#page2-right{
    height: 70%;
    width: 43%;
    background-color: blue;
}
#page2-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
}
#page2-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
}
#page2-right #cont{
    display: flex;
    justify-content: space-between;
}
#cont h4{
    font-size: 14.5px;
    font-weight: 600;
}
#cont h5{
    font-size: 10px;
    font-weight: 400;
}
#page3{
    height: 100%;
    width: 100%;
    padding: 30px;
    
    /*background-color: black;*/
}
#page3-content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#page3-left{
    position: relative;
    height: 98%;
    width: 30%;
    margin-left: 16px;
    margin-top: 10px;
   /* background-color: seagreen;*/
}
#page3-right{
    height: 100%;
    width: 60%;
    margin-right: 20px;
    background-color: blueviolet;
}
#page3-left img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#page3-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#page3-left #arrow {
    width: 50px;
    height: 30px;
    position: absolute;
    top: 37%;
    left: 42%;
}
#page3-left #rotated {
    position: absolute;
    height: 200px;
    width: 180px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%)rotate(0deg);
    animation-name: roteted;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes roteted {
    0%{
        transform:translate(-50%,-50%)rotate(0deg);
    }
    100%{
        transform:translate(-50%,-50%)rotate(360deg);
    }
    
}
#page3-left h3{
    position: absolute;
    left: 18px;
    font-size: 15px;
    font-weight: 600;
    bottom: 0px;
}
#page4 {
    height: 100%;
    width: 100%;
    padding: 30px 50px;
    position: relative;
}
#page4 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#page4 h3{
    font-size: 12px;
    font-weight: 500;
    height: 30px;
    width: 30px;
    padding: 5.5px 8px;
    position: absolute;
    top: 10%;
    right: 7%;
    border: 2px solid black;
    border-radius: 50%;

}
#page5{
    height: 100%;
    width: 100%;
  /* background-color: green;*/
    padding: 0px 44px ;
    padding-top: 20px;
}
.box{
    height: 65px;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* background-color: salmon;*/
    margin-left: 0px;
    border-top: 2px solid black;
    
}
#page5 h1{
    margin-left: 45%;
    font-size: 25px;
    margin-bottom: 25px;
}
.box img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    left: 20%;
    opacity:0;
    transition: all ease 1.5s;
}
.box:hover img{
    opacity: 1;
    left: 40%;
}
.box-part2{
    width: 18%;
    font-size: 15px;
    font-weight: 500;
    margin-right: 180px;
}
.box-part2 h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}
#page5 .box h5{
    font-size: 10px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: -7px;
    
}
.box-part2 h6{
    font-size: 10px;
    font-weight: 400;
}
#page5 :nth-child(5){
    border-bottom: 2px solid black;
}
.box #exc{
    font-size: 15px;
    font-weight: 500;
    margin-right: 260px;
}
#exc h3{
    font-size: 18px;
    font-weight: 500;
}
#exc h4{
    font-size: 10px;
    font-weight: 400;
}
#page6{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 45px;
    
}
 #page6-part1{
    height: 100%;
    width: 45%;
    background-color: aquamarine;
}
 #page6-part2{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 100%;
    width: 45%;
    /*background-color: sandybrown;*/
}
#page6-part2 #left{
    height: 50%;
    width: 50%;
   /* background-color: crimson;*/
}
#page6-part2 #right{
    height: 50%;
    width: 43%;
   /* background-color: darkred;*/
}
#page6-part2 h1{
    position: absolute;
    top: 0px;
    text-transform: uppercase;
    font-size: 25px;
}
#page6-part2 h3{
    position: absolute;
    top: 55px;
    text-transform: capitalize;
    font-size: 15px;
}
#page6-part2 h6{
    position: absolute;
    top: 140px;
    text-transform: capitalize;
    font-size: 10px;
}
#page6-part1 img{
    height: 100%;
    width: 100%;
}
#left img{
    height: 100%;
    width: 100%;
}
#right img{
    height: 100%;
    width: 100%;
}
#page7{
    height: 100%;
    width: 100%;
    padding: 30px 45px;
    position: relative;
   /* background-color: fuchsia;*/
}
#page7 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 25%; 
}
#page7 h4{
    height: 30px;
    width: 30px;
    font-size: 15px;
    padding: 3px 8px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 70px;
    color: white;
    mix-blend-mode: difference;
    border: 2px solid white;
}
#page8{
    height: 100%;
    width: 100%;
    padding: 30px 45px;
    display: flex;
    justify-content: space-between;
    /* background-color: darkturquoise; */
}
#page8-part1{
    height: 100%;
    width: 55%;
   /* background-color: forestgreen;*/
}
#page8-part2{
    position: relative;
    height: 70%;
    width: 38%;
    /*background-color: deeppink;*/
}
#page8-part1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
}
#page8-part2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}
#page8-part2 h4{
    position: absolute;
    top: 106%;
    left: 0;
    font-size: 14px;
}
#page8-part2 h5{
    position: absolute;
    font-size: 10px;
    top: 106%;
    right: 0;
}
#page9{
    height: 100%;
    width: 100%;
    /* background-color: green; */
    
    
}
#mooving::-webkit-scrollbar{
    display: none;
    
}

#mooving{
    height: 60px;
    width: 100%;
    padding: 12px;
    margin-bottom: 30px;
    white-space: nowrap;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 40px;
    /* background-color: aqua; */
    overflow-x: auto;
    overflow-y: hidden;
    
}
#mooving h2{
    margin-right: 18px;
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px black;
    color: transparent;
    animation-name: mooving;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    overflow-x: auto;
    overflow-y: hidden;
   
    
}
@keyframes mooving{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100% - 22px));
    }

}
#blog{
    height: calc(100% - 90px);
    width: 100%;
    /* background-color: darkorchid; */
    display: flex;
    justify-content: space-between;
    padding: 60px 45px;
    
}
#blog #part-1{
    height: 100%;
    width: 20%;
    /* background-color: crimson; */
    position: relative;
    
    
    
}
#blog #part-2{
    position: relative;
    height: 100%;
    width: 35%;
    /* background-color: khaki; */
    
}
#blog #part-3{
    height: 100%;
    width: 35%;
    /* background-color: fuchsia; */
    position: relative;
}
#blog #part-1 h2{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0);
    text-transform: uppercase;
    
}
#blog #part-2 h4{
   
    font-size: 14px;
    text-transform: capitalize;
   
}
#blog #part-2 h4::before{
    content: "B";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    font-size: 10px;
    padding: 3px 7px;
    border: 2px solid black;
    margin-right: 10px;

}
#blog #part-3 h4{

    font-size: 14px;
    text-transform: capitalize;
}
#blog #part-3 h4::before{
    content: "B";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    font-size: 10px;
    padding: 3px 7px;
    border: 2px solid black;
    margin-right: 10px;

}
#blog #part-2 img{
    margin-top: 30px;
    height: 71%;
    width: 100%;
  object-fit: cover;  
    object-position: center;
}
#blog #part-3 img{
    margin-top: 30px;
    height: 71%;
    width: 100%;
  object-fit: cover;
}
#page10{
    height: 35%;
    width: 100%;
    /* background-color: navy; */
    padding-bottom: 20px;

}  
#page10 #footer{
    height: 100%;
    width: 100%;
    display: flex;
     /* background-color: salmon;  */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
   
    
}
#foot1{
    height: 100%;
    width: 40%;
    display: flex;
    /* background-color: brown; */
    border-right: 2px solid black;
    position: relative;
}
#foot2{
    height: 100%;
    width: 20%;
    /* background-color: cyan; */
    border-right: 2px solid black;
}
#foot3{
    height: 100%;
    width: 40%;
    /* background-color: darkmagenta; */
}
#foot3-part1{
    height: 30%;
    width: 100%;
    /* background-color: bisque; */
    border-bottom: 2px solid black;
}
#foot3-part2{
    height: 57%;
    width: 100%;
    /* background-color: brown; */
    position: relative;
}
#foot1 h3{
    position: absolute;
    top: 5px;
    left: 40px;
    font-size: 28px;
    font-weight: 800;
}
#foot1 h4{
    position: absolute;
    top: 38px;
    left: 80px;
    font-size: 10px;
    font-weight: 600;
}
#foot1 h5{
    position: absolute;
    top: 20px;
    right: 75px;
    font-size: 13px;
    font-weight: 700;
    text-transform: capitalize;
}
#foot2 h4{
    font-size: 13px;
    font-weight: 650;
    margin-left: 55px;
    margin-top: 20px;
    text-transform: capitalize;
}
#foot3-part1 h4{
    font-size: 13px;
    font-weight: 650;
    margin-left: 55px;
    margin-top: 20px;
    text-transform: capitalize;
}
#foot3-part2 h6{
    margin-top: 15px;
    margin-left: 30px;
    font-size: 10px;
    font-weight: 650;
    margin-left: 43px;
}
#foot3-part2 i{
    position: relative;
    margin-top: 40px;
    top: 8px;
    margin-left: 40px;
    font-size: 14px;
}








